.logo-header a {
    background: url(../images/logo.png) no-repeat;
    height: 88px;
    width: 254px;
    display: block;
}

header {
    background-color: #ffd800;
    box-shadow: 1px 1px 4px #4d4444;
    margin-bottom: 5px;
}

.negrita {
    font-weight: bold;
}

.margen-top-10 {
    margin-top: 10px;
}

.margen-top-15 {
    margin-top: 15px;
}

.margen-top-20 {
    margin-top: 20px;
}

.margen-top-25 {
    margin-top: 25px;
}

.margen-bottom-10 {
    margin-bottom: 10px;
}

.margen-bottom-15 {
    margin-bottom: 15px;
}

.margen-bottom-20 {
    margin-bottom: 20px;
}

.margen-bottom-25 {
    margin-bottom: 25px;
}
